* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio {
    width: 60vw;
    margin: 20px auto;
}

.buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

.buttons button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.active {
    background-color: gray;
    color: white;
}

.projectList {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    row-gap: 20px;
    justify-content: space-between;
}
